.aboutMeContainer {
  animation: fade-in 1s;

  scrollbar-width: thin;
  scrollbar-color: #555 transparent;
  overflow-y: auto;

  background: linear-gradient(135deg, #1d1e21 0, #3e4246 100%);
  .title {
    font : {
      size: 3rem;
    }
    color: rgba(204, 204, 204, 0.116);
    font : {
      size: 6rem;
      family: "popins-bold";
    }
  }
  .aboutMe {
    color: #fff;
    font : {
      size: 1.3rem;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
