.myEducationContainer {
  overflow-y: auto;
  animation: fade-in 1s;
  display: grid;

  scrollbar-width: thin;
  scrollbar-color: #555 transparent;
  overflow-y: auto;

  background: linear-gradient(135deg, #1d1e21 0, #3e4246 100%);
  grid-template-columns: 1fr;

  gap: 16px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
